# bet-maker
BETMAKER_POSTGRES_DB=bet_maker
BETMAKER_POSTGRES_USER=bet_maker_user
BETMAKER_POSTGRES_PASSWORD=2nCQZ9EVpSUZFYgT8voFrLHCShbA9U3i
BETMAKER_POSTGRES_HOST=bet_maker_db
BETMAKER_POSTGRES_PORT=5432

# line-provider
LINEPROVIDER_POSTGRES_DB=line_provider
LINEPROVIDER_POSTGRES_USER=line_provider_user
LINEPROVIDER_POSTGRES_PASSWORD=cRYHuxn0OISUlQ16o1bM0qH5aJNPrDfT
LINEPROVIDER_POSTGRES_HOST=line_provider_db
LINEPROVIDER_POSTGRES_PORT=5432

LINEPROVIDER_TIMEDELTA=15

# line-provider RabbitMQ
LINEPROVIDER_RABBITMQ_DEFAULT_USER=guest
LINEPROVIDER_RABBITMQ_DEFAULT_PASS=guest
LINEPROVIDER_RABBITMQ_HOST=rabbitmq
LINEPROVIDER_RABBITMQ_PORT=5672

RABBITMQ_URL=amqp://${LINEPROVIDER_RABBITMQ_DEFAULT_USER}:${LINEPROVIDER_RABBITMQ_DEFAULT_PASS}@${LINEPROVIDER_RABBITMQ_HOST}:${LINEPROVIDER_RABBITMQ_PORT}//

# Celery
CELERY_BROKER_URL=${RABBITMQ_URL}
